<div class="container">
  <div class="header">
    <div class="logo">
      <div class="text">CYCLIX</div>
      <div class="underline"></div>
    </div>
  </div>
  <div class="body">
    <div class="logo">Erzähl uns etwas über dein Velo.</div>
    <div class="block1">
      <div class="label">Felder mit einem  sind Pflichtfelder</div>
      <div class="selection-container item">
        <div class="left-container item">
          <div class="left-label label-block1">Kennst du deinen Velo Typ?</div>
          <div class="select-box">
            <dx-select-box
              [dataSource]="bikeTypes"
              displayExpr="name"
              (onItemClick)="report.bikeTypeId = $event.itemData.bikeTypeId"
              [value]="bikeBrands[0].name"
            ></dx-select-box>
          </div>
        </div>
        <div class="right-container item">
          <div class="right-label label-block1">Welche Marke ist dein Velo?</div>
          <div class="select-box">
            <dx-select-box
              [dataSource]="bikeBrands"
              displayExpr="name"
              (onItemClick)="report.bikeBrandId = $event.itemData.bikeBrandId"
              [value]="bikeBrands[0].name"
            ></dx-select-box>
          </div>
        </div>
      </div>
    </div>
    <div (click)="smoothScroll(document.getElementById('second')!)" class="button">
      <div class="button-text">Next step</div>
      <div class="icon">
        <div class="arrow"></div>
      </div>
    </div>
    <div class="progress">
      <div class="line"></div>
      <div class="ellipses">
        <div class="ellipse activated"></div>
        <div class="ellipse"></div>
        <div class="ellipse"></div>
        <div class="ellipse"></div>
        <div class="ellipse"></div>
      </div>
    </div>
    <div class="block2" id="second">
      <div class="block2-header">
        <div class="label-icon">
          <div class="label">Möchtest du ein Standard Service Paket buchen?</div>
          <div class="icon">?</div>
        </div>
        <div class="block2-text">Falls du mit Service Paketen nichts anfangen kannst, findest du weiter unten eine Auswahlliste mit verschiedenen Service Leistungen.</div>
      </div>
      <div class="block2-body">
        <div class="service-components">
          <div class="service-component" *ngFor="let serviceComponent of serviceComponents">
            <div class="block2-icon">Icon/ Illu</div>
            <div class="block2-description">{{serviceComponent.name}}, ca. {{serviceComponent.price}} {{serviceComponent.currency}}</div>
            <div class="block2-button"   (click)="report.serviceComponentId = serviceComponent.serviceComponentId">
              <div class="dot" *ngIf="report.serviceComponentId === serviceComponent.serviceComponentId"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="block2-footer">
        <div class="options">
          <div class="option">
            <div class="options-icon" (click)="report.addPackages = !report.addPackages"  [ngClass]="{'selected': !report.addPackages}"><div *ngIf="!report.addPackages" class="checkmark"></div></div>
            <div class="options-text">Kein Service Paket buchen</div>
          </div>
          <div class="option">
            <div class="options-icon"  (click)="report.ebike = !report.ebike" [ngClass]="{'selected': report.ebike}"><div *ngIf="report.ebike" class="checkmark"></div></div>
            <div class="options-text" >Hat dein Velo einen Elektro Antrieb?</div>
          </div>
        </div>
      </div>
    </div>
    <div class="progress stage2">
      <div class="line"></div>
      <div class="ellipses">
        <div class="ellipse"></div>
        <div class="ellipse activated"></div>
        <div class="ellipse"></div>
        <div class="ellipse"></div>
        <div class="ellipse"></div>
      </div>
    </div>
    <div class="button" (click)="smoothScroll(document.getElementById('third')!)">
      <div class="button-text">Next step</div>
      <div class="icon">
        <div class="arrow"></div>
      </div>
    </div>
    <div class="block3" id="third">
      <div class="block3-header">
        <div class="block3-label">Möchtest du nur einzelne Services buchen?</div>
        <div class="block3-text">Eine Mehrfachauswahl ist möglich.</div>
      </div>
      <div class="block3-body">
        <div class="packages">
          <div class="package" *ngFor="let servicePackage of servicePackages">
            <div class="package-icon" (click)="addPackages(servicePackage)" [ngClass]="{'selected': checkPackage(servicePackage)}"><div *ngIf="checkPackage(servicePackage)" class="checkmark"></div> </div>
            <div class="package-name">{{servicePackage.name}}</div>
          </div>
        </div>
        <div class="block3-body-label">E-Velo: </div>
        <div class="packages">
          <div class="package" *ngFor="let servicePackage of servicePackagesForEbike">
            <div class="package-icon" (click)="addPackages(servicePackage)" [ngClass]="{'selected': checkPackage(servicePackage)}"><div *ngIf="checkPackage(servicePackage)" class="checkmark"></div> </div>
            <div class="package-name">{{servicePackage.name}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="progress stage3" >
      <div class="line"></div>
      <div class="ellipses">
        <div class="ellipse"></div>
        <div class="ellipse"></div>
        <div class="ellipse activated"></div>
        <div class="ellipse"></div>
        <div class="ellipse"></div>
      </div>
    </div>
    <div class="button" (click)="smoothScroll(document.getElementById('fourth')!)" >
      <div class="button-text">Next step</div>
      <div class="icon">
        <div class="arrow"></div>
      </div>
    </div>
    <div class="block4" id="fourth">
      <div class="block4-header">Möchtest du das Problem an deinem Velo noch näher beschreiben?</div>
      <div class="block4-body">
        <textarea class="textarea" [(ngModel)]="report.message" placeholder="z.B. die Kette ist gerissen, ich habe einen Achter im Vorderrad."></textarea>
        <div class="max-money">
          <input type="number" class="max-money-input" [(ngModel)]="report.maxMoney">
          <div class="max-money-text">Hast du ein Kostendach?</div>
        </div>
      </div>
    </div>
    <div class="progress stage4" >
      <div class="line"></div>
      <div class="ellipses">
        <div class="ellipse"></div>
        <div class="ellipse"></div>
        <div class="ellipse"></div>
        <div class="ellipse activated"></div>
        <div class="ellipse"></div>
      </div>
    </div>
    <div class="button"  (click)="smoothScroll(document.getElementById('five')!)" >
      <div class="button-text">Next step</div>
      <div class="icon">
        <div class="arrow"></div>
      </div>
    </div>
    <div class="block5" id="five">
      <div class="block5-header">Sag uns noch kurz etwas über dich:</div>
      <div class="block5-body">
        <input class="contact-info" [(ngModel)]="report.name" type="text" placeholder="Vorname">
        <input class="contact-info" [(ngModel)]="report.street" type="text" placeholder="Strasse">
        <input class="contact-info" [(ngModel)]="report.zip" type="text" placeholder="PLZ">
        <input class="contact-info" [(ngModel)]="report.email" type="text" placeholder="Email">
        <input class="contact-info" [(ngModel)]="report.sureName"  type="text" placeholder="Nachname">
        <input class="contact-info" [(ngModel)]="report.street2"  type="text" placeholder="Nr">
        <input class="contact-info" [(ngModel)]="report.city"  type="text" placeholder="Ort">
        <input class="contact-info" [(ngModel)]="report.phone"  type="text" placeholder="Telefon">
      </div>
    </div>
    <div class="progress stage5" >
      <div class="line"></div>
      <div class="ellipses">
        <div class="ellipse"></div>
        <div class="ellipse"></div>
        <div class="ellipse"></div>
        <div class="ellipse"></div>
        <div class="ellipse activated"></div>
      </div>
    </div>
    <div class="submit-button" (click)="submit()">
      <div class="submit-button-text"> Servicedaten hochladen und Angebote erhalten</div>
    </div>
  </div>
  <div class="footer">
    <div class="logo">
      <div class="text">CYCLIX</div>
      <div class="underline"></div>
    </div>

  </div>
</div>
